<div style="font-family:Arial; background:#f9fafb; padding:20px;">
    <div style="max-width:600px;margin:auto;background:white;padding:20px;border-radius:10px;">

        <h2 style="color:#dc2626;">⚠ Maintenance critique</h2>

        <p>Bonjour {{ user }},</p>

        <p>
            L’équipement <strong>{{ equipement }}</strong> est en état critique.
        </p>

        <p>
            Une maintenance a été automatiquement générée.
        </p>

        <p>
            Merci d’intervenir rapidement.
        </p>

    </div>
</div>